<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tasks Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" charset="utf-8"></script>
  <nav class="top navbar navbar-light text-center">
    <div class="container">

      <ul class="nav navbar-nav ml-auto mx-auto">
        <!-- 6 -->
        <li id="home"><a href="/">Home</a></li>
        <li id="add"><a href="/add">Add Task</a></li>
        <li id="status"><a href="/status">Status</a></li>

      </ul>
    </div>
  </nav>

</head>


<body>
