<%- include("partials/header") -%>

<div class="detailsContainer">



  <div class="detailsHeader">

    <h1 id = "taskTitleDetails" style="white-space: pre-line"><%= task.title %> </h1>

  </div>

  <div class="detailsBody">

    <p style="white-space: pre-line"><%= task.description %></p>

  </div>

  <div class="detailsFooter">

    

  </div>
</div>

<%- include("partials/footer") -%>
